body{
margin: 10px;
min-width: 400px;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #59114d;
    margin-bottom: 6px;
    box-sizing: border-box;
}
button{
    padding: 8px 20px;
    background: #59114d;
    border: 1px solid #59114d;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#del-btn{
    background: white;
    color: #59114d;
}
#del-btn:hover{
    background: #59114d;
    color: white;
}
.del-link{
    background: transparent;
    border: none;
}
ul{
    list-style: none;
    margin-top: 20px;
    padding: 0;
}
li{
    margin-top: 5px;
}
a{
    color: #59114d;
}